p {
width: 300px;
}

p::before {
    background-color: #ffffba;
    border-radius: 50%;
    content: '';
    display: block;
    height: 100px;
    float: left;
    width: 100px;

    shape-outside: circle();
    margin-right: 20px;
}