body {
    grid-template-areas: 
    "a-top a-top a-top a-top"
    ". a-content a-comments ."
    "a-bottom a-bottom a-bottom a-bottom";

    grid-template-columns:
    auto 
    minmax(auto, calc(1360px * 0.7)) 
    minmax(auto, calc(1360px * 0.3)) 
    auto;
}

section {
    display: block;

}

section > article {
    min-width: calc(100% - 40px);
    min-height: calc(50vh - 70px);
    margin: 20px;
}

.container {
    border: 3px solid #d291bc;
    max-width: 1360px;
    margin: 0 auto;
    min-height: 50px;
    height: 100%;
}
