body {
    height: 100vh;
    background-color: orange;
}

@media (orientation: portrait) and (min-width: 601px) {
    body {
        background-color: green;
    }
}

@media screen and (min-aspect-ratio: 4/3) {
    body {
        background-color: blue;
    }
}